.Bg-Image {
  background-image: url('../images/dojn.jpg');
  width: 100%;
  height: 100vh;
 
  background-size: cover;
  background-position: center;
}
.Form-Holder {
  
  color: rgb(8, 8, 8);
}

.submit-button-holder {
  display: flex;
  justify-content: center;
 
  margin-top: 5px;
}
